h1{
margin:0;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.title{
float:left
}
.ver{
float:left
}
.mein{
width:400px;
float:left;
}
.help{
width:400px
float:left;
}
#comelog{
width:600px;

}
